@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* landing page section */
.landing-page {
    background-color: rgba(255, 144, 14, 0.1);
    width: 1900px;
    padding-left: 240px;
    padding-right: 240px;
}

.name {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;

}

.lists {
    list-style: none;
    display: flex;
    font-size: 18px;
    color: #424242;
}

.list {
    padding-left: 50px;
}

/* landing page mid section */
.landing-mid {
    text-align: center;
    padding: 50px 550px;
    width: 800px;
}

.mid-section {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
}

.section-text {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding-top: 20px;
    padding-bottom: 30px;
}

.section-button {
    align-items: center;
    color: white;
    background-color: #FF900E;
    width: 180px;
    height: 64px;
    border-radius: 8px;
    border-style: none;
    font-weight: 600;
    font-size: 20px;
}

.banner-image {
    justify-content: center;
}

.banner-image img {
    width: 100%;
    border-radius: 8px;
}

/* main section mettings */
.company-profile {
    display: flex;
    width: 1270px;
    padding-top: 80px;
    padding-left: 300px;
}

.activities {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    width: 342px;
    height: 342px;
}

.company-features {
    width: 538px;
    height: 323px;
    margin-left: 450px;
    margin-top: 250px;
}

.quick-list {
    font-size: 45px;
}

.list-text {
    color: #727272;
    font-weight: 400;
    padding-top: 40px;
    padding-bottom: 30px;
}

#dark {
    color: #131313;
}

#gray {
    color: #727272;
}

#color {
    color: #FF900E;
}